// COLORS
$primary-color: #636363c4;
$secondary-color: #131313;

$knowmore1: #fffefec4;
$knowmore2: #0f0f0f;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #000000; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
