@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";

.top-social-links {
    text-align: right;
    padding: 10px 0;
    background-color: rgb(34, 34, 34);
    a {
      margin: 0 10px;
      color: #fffdfd; // Change this as per your site's color scheme
      font-size: 24px; // Adjust the size as needed
  
      &:hover {
        color: #666; // Change this to your preference for hover effect
      }
    }
  }
  